{% extends "base.html" %}
{% block title %}Application Form{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/applicationFormstyle.css') }}">

{% if 'applicant_created' in session %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Thank you {{ session.pop('applicant_created', None) }} for applying to work for us. Please wait for a reply from us in a few days time.
  </div>
{% endif %}

<div class="container">
  <div class="title">Application</div>



  <form autocomplete="off" method="POST" name="applicationForm" action="">
    <div class="user-details">

      <div class="input-box">
        {{ render_field(form.fname, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.lname, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.gender, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.age, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.nric, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.address, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.nationality, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.phoneno, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.email, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.language, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.quali, class="form-control mr-sm-2") }}
      </div>

      <div class="input-box">
        {{ render_field(form.industry, class="form-control mr-sm-2") }}
      </div>

      <span class="input-box">Past 2 Employment</span>

      <div class="input-box">
        {{ render_field(form.comp1, class=" ") }}
      </div>

      <div class="input-box">
        {{ render_field(form.posi1, class=" ") }}
      </div>

      <div class="input-box">
        {{ render_field(form.comp2, class=" " ) }}
      </div>

      <div class="input-box">
        {{ render_field(form.posi2, class=" ") }}
      </div>

    </div>

      <div class="button">
        <input type="submit" value="Apply">
      </div>

  </form>

</div>

{% endblock %}
