{% extends "base.html" %}
{% block title %}Nanyang Polyclinic - Shopping Cart{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="search-container">
  <form class="search-form" method="post">
    {{ render_field(form.search, class="search-bar") }}
    <button type="submit">
      <i class="fa fa-search" style="font-size: 23px;"></i>
    </button>
  </form>
      <a href="/shoppingCart" class="cart-button">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvectorified.com%2Fimages%2Fshopping-cart-icon-transparent-20.png&f=1&nofb=1" height="35px">
      </a>
  {% if session['user'] != null %}
    {% if session['user-role'] == "Admin" %}
      <a class="create-button" href="/createItem"> + </a>
      <a class="inventory-button" href="/inventory"> i </a>
      <a class="dashboard-button" href="/dashboard"><img class="dashboard-img" src="https://cdn4.iconfinder.com/data/icons/tupix-1/30/graph-512.png"></a>
    {% endif %}
  {% endif %}
</div>

<div class="sc-container">
  <div class="sc-header">
    <h2 class="sc-head-title">Shopping Cart</h2>
    <p class="sc-head-price">Price</p>
  </div>
  {% for item in items_list %}
    <div class="sc-item-container">
      <div class="sc-item-picture-container">
        <img class="sc-item-picture" src="{{ item.get_item_picture() }}">
      </div>
      <div class="sc-text-container">
        <div class="sc-item-name-container">
          <p class="sc-item-name">{{ item.get_item_name() }}</p>
        </div>
        <div class="sc-item-price-container">
          <p class="sc-item-price">${{ item.get_item_price() }}</p>
          <p class="sc-item-want">x {{ item.get_item_want() }}</p>
        </div>
        <div class="sc-button-container">
          <form action="{{url_for('remove_item', id=item.get_item_id())}}" method="POST">
            <button class="sc-item-delete" type="submit">Delete</button>
            |
            <a class="sc-change-qty-button" href="/purchaseItem/{{ item.get_item_id() }}/">Change Qty</a>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="sc-checkout-container">
  {% if count == 1 %}
  <p class="sc-subtotal-price-text">Subtotal (1 item):
    <span class="sc-subtotal-price">${{ total }}</span>
  </p>
  {% else %}
    <p class="sc-subtotal-price-text">Subtotal ({{ count }} items):
    <span class="sc-subtotal-price">${{ total }}</span>
  </p>
  {% endif %}
  <a href="/checkout" class="sc-checkout">Checkout</a>
  <form action="{{url_for('clear_cart')}}" method="POST">
    <button type="submit" class="sc-clear-cart">
      Clear Cart
    </button>
  </form>
</div>
{% endblock %}

